<a href="https://colab.research.google.com/github/19PA1A0517/Ensemble-methods-assignment/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection  import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [72]:
fi=pd.read_csv("diabetes.csv")
fi

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

**fi.isna().any() is a function that returns a boolen value for each column.If there is at least one missing value in column,the result is is True**

In [73]:
fi.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [74]:
fi.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

//Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,	DiabetesPedigreeFunction,Age are taken as attributes,it is also called as features//

//Outcome is taken as target,it is also called as label//

In [0]:
x=fi[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]	
y=fi[["Outcome"]]

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

**The random forest is a classification algorithm consisting of many decisions trees.It is an ensemble learning method for classification, regression**

In [0]:
rdf=RandomForestClassifier(n_estimators=50)

In [77]:
model=rdf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [0]:
y_pred1=model.predict(x_test)

In [79]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred1))

Accuracy : 0.7532467532467533

**Adaboost is an iterative algorithm whose core idea is to train different classifiers (weak classifiers) for the same training set, and then combine these weak classifiers to form a stronger final classifier (strong classifier).**

In [0]:
abc=AdaBoostClassifier()

In [81]:
model2=abc.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
y_pred2=model2.predict(x_test)

In [56]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred2))

Accuracy : 0.7337662337662337

**A decision tree is a form of a tree or hierarchical structure that breaks down a dataset into smaller and smaller subsets**

In [0]:
dtc=DecisionTreeClassifier()

In [0]:
model3=dtc.fit(x_train,y_train)

In [0]:
y_pred3=model3.predict(x_test)

In [87]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred3))

Accuracy : 0.7402597402597403

**CONCLUSION:**



*   RandomForestClassifier  is perfoming better than adaboostclassifier and decision tree classifier because its accuracy is more.
*   Random forest will reduce variance part of error rather than bias part.
*   Performance of the classifier is depend upon the application and nature of the available data set.